.footer {
  &__top {
    background-color: $light-gray-color-5;
    padding: 1.5em;
    padding-bottom: 0.8rem;

    h1 {
      font-weight: 700;
      font-family: $serif;
      line-height: 1;
    }

    &--content {
      max-width: 1200px;
      width: 95%;
      margin: 0 auto;
    }

    &--items {
      margin: 1.5rem 0;

      display: grid;
      grid-gap: 1rem;

      @include min-650 {
        & {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      ul {
        @include landscape {
          & {
            border-left: 1px solid $light-gray-color-2;
            padding: 0 2rem;
          }
        }

        &:first-of-type {
          border-left: none;
          padding-left: 0;
        }

        li {
          font-family: $sans-serif;
          padding: 2px 0;

          font-size: 13px;

          strong {
            font-size: 14px;
            padding-bottom: 3px;
            display: inline-block;
          }
        }
      }
    }
  }

  // Social links
  &__social-links {
    background-color: darken($light-gray-color-3, 5%);

    ul {
      max-width: 1200px;
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      i {
        font-size: 1.2rem;
      }

      li {
        padding: 0 1rem;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }

  // GDPR
  &__gdpr {
    background-color: $light-gray-color-5;
    padding: 1rem;
    font-family: $sans-serif;
    font-size: 13px;
    text-align: center;

    p.copyright {
      padding-top: 0.8rem;
    }

    ul {
      max-width: 1200px;
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @include portrait {
        & {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 1rem;
          justify-items: center;

          li {
            padding: 3px 0 !important;
          }
        }
      }

      li {
        padding: 0 1rem;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}

// Footer
footer {
  margin-top: 3rem;
  position: relative;

  #back-to-top {
    cursor: pointer;
    position: absolute;
    bottom: 100%;
    right: 10%;
    transform: translateX(10%);
    background-color: #bbb;
    color: $white-color;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    font-family: $plain-sans-serif;
    font-size: 12px;
  }
}
