.article {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
}
@media (min-width: 1240px) {
  .article .show-on-mobile {
    display: none;
  }
}
.article.no-border {
  border-bottom: 0;
}
.article h2,
.article h3,
.article h4,
.article h5 {
  font-weight: 700;
}
.article h2.remove-bold,
.article h3.remove-bold,
.article h4.remove-bold,
.article h5.remove-bold {
  font-weight: 500;
}
.article h2,
.article h3 {
  margin-bottom: 10px;
  font-family: Escrow Condensed, Alternate Times New Roman, serif;
}
.article h2 {
  font-size: 36px;
  line-height: 36px;
}
.article h2.h2-alternative-1 {
  font-size: 30px;
  line-height: 30px;
}
.article h3 {
  font-size: 22px;
  line-height: 24px;
}
.article h3.h3-alternative-1 {
  font-size: 20px;
  line-height: 22px;
}
.article h4 {
  margin-bottom: 7px;
}
.article .meta {
  font-size: 12px;
  font-weight: 300;
  font-family: "Retina Narrow", Retina, "Arial Narrow", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.article p {
  font-family: "Retina Narrow", Retina, "Arial Narrow", Arial, Helvetica, sans-serif;
}
.article p:not(.exclusive-tag) {
  font-size: 14px;
  line-height: 1.6;
}
.article .exclusive-tag {
  border: 1px solid #000;
  padding: 5px 10px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 11px;
}
.article .live-link {
  margin: 10px 0 0 0;
  padding-left: 1.5rem;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}
.article .live-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #555;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.article .article-info > * {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 3px;
  color: #555;
}
.article .created_at {
  color: red;
  font-weight: normal;
}

.asset__wrapper {
  position: relative;
  padding-top: 66%;
}
.asset__wrapper > *:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
}
.asset__wrapper img,
.asset__wrapper video {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.asset__wrapper + * {
  margin-top: 15px;
}

.chevron-icon--right {
  display: inline-block;
  margin-left: 6px;
}

.main-header {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
  font-family: Escrow Condensed, Alternate Times New Roman, serif;
  position: relative;
  z-index: 20000;
}
.main-header h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
@media (min-width: 1240px) {
  .main-header .mobile-tabs {
    display: none;
  }
  .main-header > ul {
    display: flex;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    font-family: sans-serif;
  }
  .main-header > ul > li {
    padding: 7px;
    font-size: 16px;
  }
  .main-header > ul > li.menu-item__has-dropdown a {
    color: #555;
  }
  .main-header > ul > li.menu-item__has-dropdown a:hover {
    color: #000;
    text-decoration: underline;
  }
  .main-header > ul > li.menu-item__has-dropdown:hover {
    border: 1px solid #ccc;
    border-bottom: 0;
    margin-bottom: -1px;
    background-color: #f9f9f9;
  }
  .main-header > ul > li.menu-item__has-dropdown:hover > a {
    text-decoration: none;
    font-weight: bold;
  }
  .main-header > ul > li.menu-item__has-dropdown:hover > div {
    display: block;
  }
  .main-header .menu-item__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 1.5rem;
    z-index: 10;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3019607843);
  }
  .main-header .menu-item__dropdown > div {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
  }
  .main-header .menu-item__dropdown > div ul {
    border-right: 1px solid #ccc;
    padding: 1rem;
    text-align: left;
  }
  .main-header .menu-item__dropdown > div ul li {
    padding: 5px;
    font-size: 16px;
  }
  .main-header .menu-item__dropdown > div ul li.category {
    font-weight: bold;
    font-size: 17px;
  }
  .main-header .menu-item__dropdown > div ul:last-of-type {
    border: 0;
  }
}

@media (max-width: 1239px) {
  .mobile-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0 0;
  }
  .mobile-tabs svg {
    width: 23px;
  }
  .mobile-tabs div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 13px;
    font-family: sans-serif;
    position: relative;
  }
  .mobile-tabs div::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 110%;
    transform: translateX(-5%);
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    display: none;
  }
  .mobile-tabs div.active-tab::after {
    display: block;
  }
  .mobile-tabs div span {
    display: inline-block;
    margin-top: 5px;
    padding-bottom: 5px;
  }
  .mobile-tabs div i {
    font-size: 18px;
  }
  .mobile-tabs div:last-of-type {
    margin-right: 0;
  }
  .main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
  }
  .main-header .hamburger-icon .close-menu {
    display: none;
  }
  .main-header h1 {
    margin: 0;
  }
  .main-header h1 a {
    display: flex;
    align-items: center;
  }
  .search-icon {
    margin-left: auto;
  }
  .menu {
    display: none !important;
    transform: translateX(-100%);
    opacity: 0;
    overflow: auto;
  }
  .mobile-menu {
    display: none;
    text-align: left;
    font-family: sans-serif !important;
    overflow: auto;
    transform: translateX(-100%);
    opacity: 0;
  }
  .mobile-menu i[class*=fa-chevron-up] {
    display: none;
  }
  .mobile-menu > li {
    border-bottom: 1px solid #b3b3b3;
    padding: 7px;
  }
  .mobile-menu > li:last-of-type {
    border-bottom: 0;
  }
  .mobile-menu.show-mobile-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    z-index: 30000;
    display: block !important;
    padding: 1rem;
    background-color: #e9e9e9;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3019607843);
    animation: showMenu 0.15s ease-in-out forwards;
  }
  @keyframes showMenu {
    to {
      transform: none;
      opacity: 1;
    }
  }
  .mobile-actions {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  .mobile-actions > div {
    padding: 0 10px;
    cursor: pointer;
  }
  .mobile-actions .search {
    margin-left: auto;
  }
  .mobile-actions .notifications-icon {
    position: relative;
    margin-right: 10px;
    padding-right: 0;
  }
  .mobile-actions .notifications-icon span {
    position: absolute;
    top: 2px;
    right: 1px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: red;
  }
  .site-name__wrapper {
    display: none;
  }
  header h1 {
    font-size: 1.2rem !important;
  }
}
@media (min-width: 1240px) {
  .menu {
    display: flex !important;
  }
  .mobile-menu {
    display: none !important;
  }
  .main-header i[class*=fa-chevron-down] {
    display: none;
  }
  .mobile-actions {
    display: none;
  }
  .site-name__wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .site-name__wrapper div {
    margin-left: 15px;
    cursor: pointer;
  }
}
aside {
  border-left: 1px solid #eaeaea;
}
@media (orientation: portrait) and (max-width: 650px) {
  aside {
    border-left: none;
  }
}
@media (min-width: 650px) {
  aside {
    padding-left: 1rem;
  }
}

.aside-main-accents__wrapper {
  padding-top: 2rem;
}
.aside-main-accents__wrapper .article {
  border-bottom: 1px solid #a28c6d;
}
@media (orientation: landscape) and (max-width: 1239px) {
  .aside-main-accents__wrapper .article {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
  }
  .aside-main-accents__wrapper .article .asset__wrapper + * {
    margin: 0;
  }
}
.aside-opinions__wrapper h5.heading {
  padding-top: 0;
  color: #a28c6d;
}
.aside-opinions__wrapper h5.heading a:hover {
  color: #867256;
}
@media (orientation: landscape) {
  .aside-opinions__wrapper .hide-asset-on-landscape .asset__wrapper {
    display: none !important;
    padding-top: 0 !important;
  }
}
.aside-opinions__wrapper h5:not(.heading) {
  margin-top: 0 !important;
}
.aside-opinions__wrapper .author {
  font-style: italic;
  font-size: 13px !important;
  line-height: 1.3 !important;
  margin-top: 6px;
}
@media (orientation: portrait) and (max-width: 650px) {
  .aside-opinions__wrapper {
    padding-left: 0px;
  }
}
@media (max-width: 1239px) {
  .aside-sticky-ad-banner {
    height: auto !important;
  }
}
@media (max-width: 1239px) {
  .aside-sticky-ad-banner .asset__wrapper {
    height: auto !important;
    position: relative !important;
    width: 70% !important;
    padding: 0 !important;
  }
  .aside-sticky-ad-banner .asset__wrapper a {
    position: relative;
  }
}
@media (orientation: portrait) {
  .aside-sticky-ad-banner .asset__wrapper {
    width: 100% !important;
  }
}
@media (orientation: landscape) and (max-width: 850px) {
  .aside-sticky-ad-banner .asset__wrapper {
    width: 50% !important;
  }
}
@media (orientation: landscape) {
  .aside-sticky-ad-banner .asset__wrapper {
    position: sticky;
    top: 1rem;
    left: 0;
    z-index: 9999;
  }
}
.aside-feature-section {
  margin-top: 2rem;
  border-top: 1px solid #000;
}
.aside-feature-section .asset__wrapper {
  padding-top: 40%;
}
.aside-feature-section .asset__wrapper::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6901960784));
  z-index: 1;
}
.aside-feature-section .asset__wrapper h3 {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  z-index: 2;
  font-size: 1.1rem;
  pointer-events: none;
}
.aside-feature-section .asset__wrapper h3 span {
  display: block;
  padding-top: 5px;
  color: inherit;
  font-size: 13px;
  font-family: sans-serif;
}
.aside-feature-section__with-secondary-asset {
  padding: 10px 0;
  display: grid !important;
  grid-template-columns: auto auto 120px;
  grid-gap: 10px;
}
@media (max-width: 1239px) {
  .aside-feature-section__with-secondary-asset {
    display: flex !important;
  }
  .aside-feature-section__with-secondary-asset .aside-feature-section__asset {
    margin-left: auto;
  }
}
.aside-feature-section__with-secondary-asset .asset__wrapper {
  padding-top: 30% !important;
}
.aside-feature-section__asset {
  width: 120px;
}
.aside-feature-section__gold-accent {
  border-top-color: #a28c6d;
}
.aside-feature-section__gold-accent h5 {
  color: #a28c6d;
}
.aside-feature-section h5 {
  font-family: "Retina Narrow", Retina, "Arial Narrow", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0;
}
.aside-feature-section article {
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  font-family: Escrow Condensed, Alternate Times New Roman, serif;
}
.aside-feature-section article:last-of-type {
  border-bottom: none;
}
.aside-feature-section article > span {
  font-size: 2rem;
  color: #555;
  display: inline-block;
  padding: 15px;
  padding-left: 0;
}
.aside-feature-section article div {
  font-weight: 300;
}
.aside-non-feature-section {
  font-family: Escrow Condensed, Alternate Times New Roman, serif;
}
@media (orientation: landscape) and (max-width: 1239px) {
  .aside-non-feature-section__main-accent {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
  }
  .aside-non-feature-section__main-accent .asset__wrapper + * {
    margin: 0;
  }
}
.aside-non-feature-section h3 {
  font-size: 1.4rem;
}
.aside-non-feature-section h4 {
  font-size: 1.3rem;
}

@media (max-width: 1239px) {
  .aside-content .asset__wrapper img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.search__wrapper--desktop form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 6px;
}
.search__wrapper--desktop label {
  display: none;
}
.search__wrapper--desktop input {
  flex-grow: 1;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  background-color: transparent;
  width: 400px;
}
.search__wrapper--desktop button {
  background-color: #c8c8c8;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 5px 10px;
  height: 100%;
}
.search__wrapper--desktop button.active-search-button {
  background-color: #0274b6;
  cursor: pointer;
}
.search__wrapper--desktop button span {
  text-transform: uppercase;
  display: inline-block;
  padding-right: 6px;
}

.search__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9450980392);
  z-index: 30001;
  display: none;
}
.search__wrapper.show-search__wrapper {
  display: block;
}
.search__wrapper > i {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 2rem;
  cursor: pointer;
}
.search__wrapper form {
  max-width: 1024px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
  display: flex;
  position: relative;
}
@media (max-width: 1239px) {
  .search__wrapper form {
    padding: 15% 1.5rem 7px;
  }
}
@media (min-width: 1240px) {
  .search__wrapper form {
    padding: 5% 1.5rem 7px;
  }
}
@media (orientation: portrait) {
  .search__wrapper form {
    padding-top: 30%;
  }
}
.search__wrapper form label {
  display: none;
}
.search__wrapper form input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
}
.search__wrapper form button {
  background-color: #c8c8c8;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 5px 10px;
}
.search__wrapper form button.active-search-button {
  background-color: #0274b6;
  cursor: pointer;
}
.search__wrapper form button span {
  text-transform: uppercase;
  display: inline-block;
  padding-right: 6px;
}

.notification__wrapper {
  position: fixed;
  top: 56px;
  min-height: 55px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 30000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  padding: 1rem;
}
.notification__wrapper.show-notifications {
  pointer-events: all;
  opacity: 1;
}
@media (min-width: 1240px) {
  .notification__wrapper {
    display: none;
  }
}
.notification__content {
  position: relative;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
}
.notification__content i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 17px;
}

.footer__top {
  background-color: #f4f4f4;
  padding: 1.5em;
  padding-bottom: 0.8rem;
}
.footer__top h1 {
  font-weight: 700;
  font-family: Escrow Condensed, Alternate Times New Roman, serif;
  line-height: 1;
}
.footer__top--content {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.footer__top--items {
  margin: 1.5rem 0;
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 650px) {
  .footer__top--items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (orientation: landscape) {
  .footer__top--items ul {
    border-left: 1px solid #ccc;
    padding: 0 2rem;
  }
}
.footer__top--items ul:first-of-type {
  border-left: none;
  padding-left: 0;
}
.footer__top--items ul li {
  font-family: "Retina Narrow", Retina, "Arial Narrow", Arial, Helvetica, sans-serif;
  padding: 2px 0;
  font-size: 13px;
}
.footer__top--items ul li strong {
  font-size: 14px;
  padding-bottom: 3px;
  display: inline-block;
}
.footer__social-links {
  background-color: #ececec;
}
.footer__social-links ul {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.footer__social-links ul i {
  font-size: 1.2rem;
}
.footer__social-links ul li {
  padding: 0 1rem;
}
.footer__social-links ul li:last-of-type {
  padding-right: 0;
}
.footer__gdpr {
  background-color: #f4f4f4;
  padding: 1rem;
  font-family: "Retina Narrow", Retina, "Arial Narrow", Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
}
.footer__gdpr p.copyright {
  padding-top: 0.8rem;
}
.footer__gdpr ul {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (orientation: portrait) {
  .footer__gdpr ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    justify-items: center;
  }
  .footer__gdpr ul li {
    padding: 3px 0 !important;
  }
}
.footer__gdpr ul li {
  padding: 0 1rem;
}
.footer__gdpr ul li:last-of-type {
  padding-right: 0;
}

footer {
  margin-top: 3rem;
  position: relative;
}
footer #back-to-top {
  cursor: pointer;
  position: absolute;
  bottom: 100%;
  right: 10%;
  transform: translateX(10%);
  background-color: #bbb;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
}

.category__main {
  display: grid;
  grid-gap: 1.5rem;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}
@media (orientation: landscape) and (min-width: 1240px) {
  .category__main {
    grid-template-columns: repeat(3, 1fr);
  }
  .category__main .category__main--accent {
    grid-column: 1/-1;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 1239px) {
  .category__main .category__main--secondary {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 10px;
  }
}
.category__main .article p {
  line-height: 22px !important;
  font-size: 16px !important;
}
.category__additional {
  border-top: 1px solid #000;
}
.category__additional.no-border {
  border: none;
}
.category__additional header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: "Retina Narrow", Retina, "Arial Narrow", Arial, Helvetica, sans-serif;
}
.category__additional header div {
  color: #0080c3;
  font-weight: 500;
  font-size: 17px;
}
.category__additional .article:nth-of-type(4),
.category__additional .article:nth-of-type(5) {
  border-bottom: 0;
}
.category__additional--grid {
  padding: 10px 0;
  display: grid;
  grid-gap: 1.5rem;
}
.category__additional--grid h3 {
  margin-bottom: 0;
}
@media (orientation: landscape) and (max-width: 1239px) {
  .category__additional--grid .category__main--secondary-accent {
    display: grid;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1240px) {
  .category__additional--grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  .category__additional--grid .category__main--secondary-accent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 1/-1;
  }
}
.category__related {
  border-top: 1px solid #000;
}
.category__related header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: "Retina Narrow", Retina, "Arial Narrow", Arial, Helvetica, sans-serif;
}
.category__related header div {
  color: #0080c3;
  font-weight: 500;
  font-size: 17px;
}
.category__related .article {
  display: grid;
  grid-gap: 10px;
  padding-top: 1rem;
}
@media (orientation: landscape) {
  .category__related .article {
    grid-template-columns: 1fr 3fr;
  }
}
@media (orientation: landscape) and (max-width: 1239px) {
  .category__related .article {
    grid-template-columns: 1fr 2fr;
  }
}

main.main-section--category .article {
  margin-bottom: 0;
}

.article-info {
  font-size: 14px;
  margin-top: 10px !important;
  display: inline-block;
  font-family: "Retina Narrow", Retina, "Arial Narrow", Arial, Helvetica, sans-serif;
}
.article-info > *:first-child {
  margin-left: 0;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 15px;
}

ul,
li {
  list-style: none outside;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
a:hover, a:focus, a:active {
  color: #0080c3;
}

img {
  max-width: 100%;
}

.feature h5.heading {
  font-family: "Retina Narrow", Retina, "Arial Narrow", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0;
}
.feature h5.heading.bordered {
  border-top: 1px solid #333;
}

.document__wrapper--category {
  display: grid;
}
.document__wrapper--category h1 {
  grid-column: 1/-1;
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 0.6rem;
  font-size: 2.6rem;
  font-family: "Retina Narrow", Retina, "Arial Narrow", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
@media (min-width: 1240px) {
  .document__wrapper--category h1 {
    font-size: 3.5rem;
  }
}
@media (orientation: portrait), (orientation: landscape) {
  .document__wrapper--category {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (orientation: landscape) and (min-width: 1240px) {
  .document__wrapper--category {
    padding-top: 1rem;
    grid-template-columns: 70% 30%;
    grid-gap: 2rem;
    max-width: 1200px !important;
    margin: 0 auto;
  }
}

.main-section--category {
  padding: 2rem 0;
}/*# sourceMappingURL=category.css.map */